<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
    <h3 class="modal-title">
        Delete a contact
    </h3>
    <i class="glyphicon glyphicon-remove pull-right" ng-click="cancel()" ></i>
</div>
<div class="modal-body">
    <p>Confirm the deletion of contact {{personDetail.firstName}} {{personDetail.lastName}}?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
</div>
</div>