<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Search field</label>
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-remove" ng-show="query" ng-click="query=''"></i>
                    <input type="text" class="form-control" ng-model="query" placeholder="Search by names">
                </div>
            </div>
        </div>
    </div>

   <div class="row">
       <div class = "col-md-11">
           <ul class="list-group">
               <a  class="list-group-item" ng-repeat="contact in contactList | filter: searchPerson">
                   <strong>{{contact.firstName}} {{contact.lastName}} -</strong>
                   <span>{{contact.address}},</span>
                   <span>{{contact.city}},</span>
                   <span>{{contact.province}},</span>
                   <span>{{contact.postal}},</span>
                   <span> Telephone: {{contact.telephone}}</span>
                   <div class="pull-right">
                   <i class="glyphicon glyphicon-pencil" ng-click ="openAddress(contact.id)" title="edit"></i>
                   <i class="glyphicon glyphicon-remove" ng-click="deleteContact(contact.id)" title="remove"></i>
                   </div>
               </a>
               <li class="list-group-item" ng-show="contactList.length == 0">
                   There is no contact available
               </li>
           </ul>
       </div>
   </div>

    <div class = "row">
        <div class="col-md-3">
            <button type = "button" class="btn btn-success" ng-click="openAddress()">Add a contact</button>
        </div>

    </div>


</div>